a:link {
  color: rgb(105, 161, 211);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(149, 134, 134);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(249, 249, 249);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: rgb(0, 208, 255);
  background-color: transparent;
  text-decoration: underline;
}


body {
   background-image: url(./TOLIK_NEW_21\ \(550\).jpg);
  color: rgb(255, 255, 255);
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  text-align: center;
  max-height: 22vh;
}
footer div {
  display: inline-block;
  align-items: center;
}

header {
  color: rgb(0, 0, 0);
  padding-top: 0.06px;
  font-style: italic;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
p {
  font-size: 80px;
}

p {
  border-radius: 25px;
  background: #D3D3D3;
  padding: 20px;
  width: 300px;
  height: 100px;
}
p2{
  font-size: 60px;
}

p2{
  border-radius: 25px;
  background: #D3D3D3;
  padding: 2px;
  width: 3px;
  height: px;
}
.about{
  text-decoration-line: underline;
  text-decoration-style: double;
}

/* nav {

  text-align: center;
  color: rgb(0, 0, 0);
} */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: "Josefin Sans", sans-serif;
  background-color: black;
  opacity: 70%;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 60%;
}
.nav-links li {
  list-style: none;
}
.heading {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 20px;
}
.nav-links {
  color: white;
  text-decoration: none;
  letter-spacing: 0px;
  font-weight: bold;
  font-size: 18px;
  padding: 14px 16px;
}
.nav-links li a:hover:not(.active) {
  background-color: transparent;
}
.nav-links li a.active {
  background-color: transparent;
}
nav ul li a {
  color: white;
}
.footer {
  position: fixed;
  left: 0%;
  bottom: 0%;
  width: 100%;
  color: white;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  min-height: 8vh;
  align-items: center;
  list-style: none;
  text-decoration: none;
  background-color: black;
  opacity: 70%;
}
.footer li a {
  color: white;
}
.footer ul li a {
  color: white;
  list-style: none;
  text-decoration: none;
}
#borderimg1 {
  border: 10px solid transparent;
  padding: 15px;
  border-image: url(/_00_ELL_6474\ \(183\).JPG) 30 round;
}
#borderimg2 {
  border: 10px solid transparent;
  padding: 15px;
  border-image: url() 30 stretch;
}
.heading {
  width: 100px;
  height: 50px;
  background: transparent;
  position: relative;
  animation: mymove 8s infinite;
}

@keyframes mymove {
  from {
    left: 0px;
  }

  to {
    left: 200px;
  }
}